* {
    box-sizing: border-box;
}

html{
    display: table;
    width: 120%;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

/*** Format the heading ***/
.header{
    width: 100%;
    height: 40px;
    line-height: 35px;
    text-align: center;
    background-color:#0074D9;
    color: white;
    margin-top: -20px;
    padding-bottom: 2px;
}

/*** Format the filter form ***/
.header .filter-form{
    position: absolute;
    top: 0.1%;
    left: 1%;
}
.filter-form .filter-submit{
    border: none;
    color: white;
    background-color: #2ECC40;
    width: 100px;
    font-weight: bold;
    opacity: 0.7;
}

.filter-form .filter-submit:hover{
    opacity: 1;
}

/*** Create CSS Grid ***/
#main {
    margin-top: 20px;
    margin-left: 5%;
    width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5em;

}

.axis .domain {
    display: none;
}

/*** Responsiveness ***/

@media only screen and (max-width: 768px){
    #main{
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 5em;

    }

    .header h2{
        text-align: center;
    }
}


/*** Style bar charts ***/

#chart1 .bar {
    fill: #2ECC40;
}

#chart3 .bar {
    fill: slateblue;
}

/*** Style the Line Charts both line and points ***/
.line {
    fill: none;
    stroke: #0074D9;
    stroke-width: 3;
}

.dot {
    fill: #0074D9;
    stroke: #fff;
}


/*** Format the data submission form ***/
.intro {
    font-size: 12px;
    font-family: sans-serif;
}

.open-button {
    background-color: #0074D9;
    color: white;
    font-weight: bold;
    font-weight: 16px;
    padding: 16px 20px;
    border: none;
    opacity: 0.8;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
}

/*** Pop out form when data form button is clicked ***/
.popup {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 15px;
    border: 2px solid black;
    z-index: 4;
}

.form-container {
    max-width: 500px;
    padding: 10px;
    background-color: white;
}

.form-container .btn {
    background-color: #2ECC40;
    color: white;
    padding: 16px 20px;
    border: none;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .submit-data {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    border: none;
    width: 100%;
    margin-top: 10px;
    opacity: 0.8;
}


/*** Darken colors when buttons hovered over ***/
.form-container .btn:hover,
.open-button:hover,
.submit-data:hover {
    opacity: 1;
}