<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>CRM Dashboard</title>
        <link rel="stylesheet" href="{{url_for('crm_bp.static', filename='style.css')}}">

    </head>

    <body>

        <div class="header">
            <h2>CRM Dashboard V 1.0</h2>
            <form  method="POST" class="filter-form">
                <select name="select" id="select" >
                    <option value="All">All</option>
                    {% for i in team %}
                    <option value={{i[0]}}>{{i[0]}}</option>
                    {% endfor %}
                </select>
               <input type="submit" value="Filter"  name="btn" class="filter-submit">
            </form>
        </div>

        <button onclick="openForm()" class="open-button">Data Form</button>

        <div class="popup" id="data-input"> 
        <form action="" method="POST" novalidate class="form-container"> 
            <div class="intro"><p>This is a form used to submit data to the database which will update <br> the charts upon refresh.</p></div>
            {{ form.hidden_tag() }}

            {{form.sales.label}}
            {{form.sales()}}
            <br>
        
            {{form.start.label}}
            {{form.start()}}
            
            {% if form.start.errors %}
            <br>
            {% for error in form.start.errors %}
                    <span style="color:red; font-size:12px; font-weight:bold; margin-left: 5px; font-family: sans-serif;" >{{error}}</span>
            {% endfor %} 
        {% endif %} 

            <br>
            {{form.end.label}} 
            {{form.end()}}
           
            {% if form.end.errors %}
                <br>
                {% for error in form.end.errors %}
                        <span style="color:red; font-size:12px; font-weight:bold; margin-left: 5px; font-family: sans-serif;" >{{error}}</span>
                {% endfor %} 
            {% endif %}

            <br>
            {{form.total.label}}
            {{form.total()}}
          
            {% if form.total.errors %}
                <br>
                {% for error in form.total.errors %}
                        <span style="color:red; font-size:12px; font-weight:bold; margin-left: 5px; font-family: sans-serif;" >{{error}}</span>
                {% endfor %} 
            {% endif %}

            <br>
            {{form.status.label}}
            {{form.status()}}
            <br>
           
            {{form.submit(class_="submit-data")}}

            <button type="button" class="btn close" onclick="closeForm()">Close</button>
        </form>
    </div>

       

        <div id="main">
            <div id="chart1">
            </div>

            <div id="chart2">
                <svg width="500" height="500"></svg>
            </div>

            <div id="chart3">
            </div>

            <div id="chart4">
            </div>

            <div id="chart5">
            </div>

        </div>


        <script src="https://d3js.org/d3.v4.js"></script>
        <script>

            // Pass the data into variables from flask
            let data1 = {{ data1 | safe }};
            let data2 = {{ data2 | safe }};
            let data3 = {{ data3 | safe }};
            let data4 = {{ data4 | safe }};
            let data5 = {{ data5 | safe }};

            // Create functions for the data input form 

            function openForm(){
                document.getElementById("data-input").style.display="block";
            }

            function closeForm(){
                document.getElementById("data-input").style.display="none";
            }
        </script>
        <script src="{{url_for('crm_bp.static', filename='charts.js')}}"></script>


    </body>

</html>